@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
/* KNENAWAVE  */
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

.titulo-banner,
body,
html {
    font-family: Montserrat, sans-serif
}

.home-nav a,
.sec-nav li,
body,
html {
    color: #fff
}

.caption a,
.home-nav a,
.middle-section a,
.sec-nav a,
a,
input:hover {
    text-decoration: none
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #000
}

h1 {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
}

p {
    font-size: 17px
}

video {
    margin: 30px auto;
    display: block
}

#bari-banner,
#bogota-banner,
#bonsai-banner,
#brilla-banner,
#cactus-banner,
#col-banner,
#europa-banner,
#huila-banner,
#huila2-banner,
#llanos-banner,
#lajas-banner,
#mutis-banner,
#navi-banner,
#paramo-banner,
#suezia-banner,
#termal-banner,
#villa-banner,
#volcanes-banner,
#paraiso-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    position: relative
}

#banner,
#bari-banner,
#bogota-banner,
#bonsai-banner,
#brilla-banner,
#cactus-banner,
#col-banner,
#contacto,
#europa-banner,
#hero,
#huila-banner,
#huila2-banner,
#llanos-banner,
#lajas-banner,
#mutis-banner,
#navi-banner,
#paramo-banner,
#suezia-banner,
#termal-banner,
#villa-banner,
#volcanes-banner,
#we-colombia,
#paraiso-banner {
    position: relative
}

#hero,
#hero video {
    height: 100vh;
    width: 100%
}

.button-banner:hover,
.column img:hover,
.img-huila:hover,
.img-thumbnail:hover {
    transform: scale(1.1)
}

.fa-globe {
    font-size: 18px;
    margin-right: 7px;
    color: white;
}

.contact-title {
    padding-bottom: 35px;
    text-shadow: 3px 3px 3px black;
}

#eventos,
#gallery,
.galleria-fotos {
    margin: 10%
}

.img-huila,
.img-thumbnail {
    margin-bottom: 20px;
    transition: 1s;
    cursor: pointer
}

#paraiso-banner {
    background-image: url("../img/paraiso/dark-paraiso.jpg");
    width: 100%
}

#bari-banner {
    background-image: url("../img/barichara/bari-banner-dark.png");
    width: 100%
}

#contacto {
    background-image: url("../img/contact-mask.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 700px
}

#villa-banner {
    background-image: url("../img/villa-de-leyva/vila.png");
    width: 100%
}

#europa-banner {
    background-image: url("../img/europa/dark-portugal-banner.png");
    width: 100%
}

#volcanes-banner {
    background-image: url("../img/termales/termales-11.jpg");
    width: 100%
}

#mutis-banner {
    background-image: url("../img/mutis/mutis-dark-3.png");
    width: 100%
}

#cactus-banner {
    background-image: url("../img/cactus/dark-cactus.jpg");
    width: 100%
}

#llanos-banner {
    background-image: url("../img/llanos/llanos-12.jpeg");
    width: 100%
}

/* colibris  */
#col-banner {
    background-image: url("../img/colibris/darkcol-8.png");
    width: 100%
}

#bogota-banner {
    background-image: url("../img/bogota/bogota-banner.png");
    width: 100%
}

#paramo-banner {
    background-image: url("../img/sumapaz/sumapaz-banner.png");
    width: 100%
}

#brilla-banner {
    background-image: url("../img/brilla-colombia/brilla-1.png");
    width: 100%
}

#lajas-banner {
    background-image: url("../img/lajas/dark-lajas.png");
    width: 100%
}

/* lajas 2 */
#suezia-banner {
    background-image: url("../img/lajas/banner-3-lajas.png");
    width: 100%
}

#bonsai-banner {
    background-image: url("../img/bonsai/dark-bonsai-1.png");
    width: 100%
}

#navi-banner {
    background-image: url("../img/navidad/tour-darknav-15.png");
    width: 100%
}

#huila-banner {
    background-image: url("../img/huila/huila-11.jpg");
    width: 100%
}

#huila2-banner {
    background-image: url("../img/huila/dark-huila.png");
    width: 100%
}

#we-colombia {
    width: 100%;
    height: auto
}

#footer {
    margin: 2%
}

#hero .caption,
.quien-title,
.thanks-message {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.orange {
    color: orange;
    text-decoration: none;
    border-bottom: 1px solid orange;
}

.img-thumbnail {
    background-color: #000;
    border: none
}

.img-thumbnail2 {
    background-color: none;
    border: none
}

.img-huila {
    width: 100%;
    height: 205px;
    padding: .25rem;
    border-radius: var(--bs-border-radius)
}

.quien-title,
.thanks-message {
    position: absolute;
    top: 50%;
}

.serv-content {
    position: absolute;
    top: 32%;
    left: 8%;
}

.thanks-message p {
    margin-top: -30px;
    margin-bottom: 30px;
    font-size: 20px
}

.europe-img img {
    width: 100%;
    height: auto
}

.v-nature {
    position: relative;
    top: 0;
    width: 75%;
    height: auto
}

.ca-img {
    width: 100%;
    height: auto;
    margin-top: 30%
}

.sticky {
    position: fixed;
    width: 54px;
    height: auto;
    top: 78%;
    left: 89%;
    cursor: pointer;
    z-index: 30
}

.content,
.villa-content {
    left: 50%;
    transform: translate(-50%, -50%)
}

.sticky:hover {
    animation: 1s bounce
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.contact-title {
    padding-top: 100px;
    margin-bottom: -45px
}

.btn-story {
    width: 180px;
    height: auto
}

.villa-content {
    position: absolute;
    top: 60%
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    margin-top: 200%
}

.gallery-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px
}

.column img {
    transition: 1s;
    cursor: pointer;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%
}

.home-nav {
    padding: 20px;
    background: none;
    width: 105%;
    height: 86px;
    position: fixed;
    z-index: 30;
    top: 0
}

.second-ul {
    float: right;
    margin-top: -130px;
}

.home-nav li {
    list-style: none;
    padding: 15px;
    display: inline-block;
    /* margin-top: 15px; */
    margin-top: 5px;
    margin-right: 20px
}

.menu-position {
    visibility: hidden;
    display: none
}

.home-nav a:hover {
    color: #f46434
}

.menu-icon {
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 6%;
    right: 7%;
    cursor: pointer
}

.logo {
    background: url("../img/logos/whitenobg-logo.png") center/contain no-repeat;
    margin-top: -40px;
    margin-left: -19px;
    width: 180px;
    height: 80px
}

.logo-banner {
    width: 100%;
    height: auto;
    margin: 10px
}

.titulo-banner {
    margin-top: -50px;
    font-size: 25px;
    margin-bottom: 30px
}

.button-banner {
    background: 0 0;
    outline: 0;
    border: 2px solid #fff;
    padding: 10px;
    transition: 1s;
    opacity: .9
}

.guide,
.ecotour {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px
}

.transfer {
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    z-index: 10;
}

.content {
    position: absolute;
    top: 58%
}

.container form,
.ecotour,
.guide,
.transfer {
    position: relative
}

.arrow-banner {
    margin: 20px;
    display: block;
    text-align: center;
    font-size: 30px;
    cursor: pointer
}

.guide {
    background-image: url("../img/dark-guide.png")
}

.transfer {
    background-image: url("../img/dark-master.jpg")
}

.ecotour {
    background-image: url("../img/vila.png")
}

.sec-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
    background: #000;
    opacity: .9
}

.sec-nav ul {
    margin-bottom: -250px;
}

.sec-nav li {
    list-style: none;
    font-size: 1rem;
    padding: .5rem;
}

.sec-nav li:hover {
    color: orange
}

.sec-nav a {
    color: inherit;
    transition: color .4s
}

.container {
    width: 250px;
    height: 300px;
    overflow-y: scroll
}

.container::-webkit-scrollbar {
    display: none
}

.container form {
    width: 100%;
    border-radius: 4px;
    left: -8%
}

.container form input {
    height: 36px;
    width: 100%;
    padding: 15px;
    margin: 8px;
    border-radius: 26px;
    border: none;
    background: #ff9a00;
    background: linear-gradient(90deg, #ff9a00 35%, #ff8000 53%, #ff7300 62%, #ff7300 62%, #ff3b00 100%)
}

input::placeholder {
    color: #000
}

.loop-icon {
    position: absolute;
    top: 38%;
    right: 3%;
    color: #000
}

.event-list {
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    position: relative;
    left: -8%;
    width: 100%;
    height: auto;
    border-radius: 15px
}

.e-details h3 {
    font-size: 18px;
    text-align: left;
    padding-top: 10px
}

.event {
    cursor: pointer;
    color: #000;
    border-bottom: 2px solid orange;
    margin: 5px;
    padding: 5px
}

.btn-primary {
    border: none;
    width: 82px;
    margin: 10px;
    background: orange;
    border-radius: 25px
}

.fa-flag-usa {
    font-size: 20px
}

.result-box ul {
    border-top: 1px solid #000;
    padding: 15px 10px;
    background: #fff;
    color: #000;
    border-radius: 25px
}

.result-box li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    color: #000
}

.btn-detalles {
    background-color: #f46434;
    border: 1px solid #f46434;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    width: 150px;
    height: 40px;
    margin: 10px 10px 70px;
    border-radius: 25px;
    cursor: pointer
}

.btn-detalles2 {
    background-color: #f46434;
    border: 1px solid #f46434;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer
}

.btn-detalles:hover,
.btn-detalles2:hover {
    background-color: #f46434a2;
    border: none
}

.btn-danger {
    background-color: #f46434;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    width: 160px;
    opacity: .9
}

.btn-danger:hover {
    background-color: #000
}

.quien-banner {
    background-image: url("../img/villa-de-leyva/paula-prieto-jJT8x2T8NHo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    position: relative
}

.quienes-content {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 240px;
    padding: 20px;
    background-color: #fff;
    color: #000;
    filter: drop-shadow(0 0 .75rem rgb(30, 26, 27))
}

.quien-icons {
    margin: auto;
    display: block;
    text-align: center;
    outline: 0;
    cursor: pointer
}

.quien-icons img:hover {
    animation: 1s heartBeat
}

.quien-para {
    margin-top: 160px;
    margin-bottom: -20px
}

.myForm {
    margin: auto;
    width: 62%;
    color: #fff
}

.form-control {
    background-color: #000;
    opacity: .8;
    outline: 0;
    border: 1px solid #000;
    color: #fff;
    padding: .475rem .75rem
}

.credentials {
    border-top: 1px solid #fff;
    width: 70%
}

.footer-socials {
    margin: 50px
}

.footer-socials img {
    width: 2%;
    height: 2%;
    margin: 5px;
    cursor: pointer;
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(107%)
}

.footer-socials img:hover {
    animation: 1s headShake
}

@media only screen and (min-width:2500px) {

    #banner,
    #bari-banner,
    #bogota-banner,
    #bonsai-banner,
    #brilla-banner,
    #cactus-banner,
    #col-banner,
    #europa-banner,
    #huila-banner,
    #huila2-banner,
    #lajas-banner,
    #mutis-banner,
    #navi-banner,
    #paramo-banner,
    #suezia-banner,
    #termal-banner,
    #villa-banner,
    #volcanes-banner {
        height: 914px
    }

    #contacto {
        height: 1100px
    }

    li,
    p {
        font-size: 35px
    }

    h1 {
        font-size: 5rem
    }

    h2 {
        font-size: 2rem;
        padding: 19px
    }

    .quien-banner {
        height: 900px
    }

    .fa-globe {
        font-size: 34px;
    }

    .contact-title {
        padding-top: 190px
    }

    .home-nav {
        height: 173px;
    }

    .home-nav li {
        padding: 10px;
        margin-top: 38px;
        margin-right: 17px;
    }

    .titulo-banner {
        font-size: 56px;
        margin-top: -75px
    }

    .button-banner {
        font-size: 25px;
        padding: 15px
    }

    .form-label {
        font-size: 39px
    }

    .form-text {
        font-size: 1.875em
    }

    .form-control {
        height: 60px
    }

    .logo {
        margin-top: -15px;
        width: 380px
    }

    .img-huila {
        height: 381px
    }

    .second-ul {
        margin-top: -173px;
        margin-right: 71px
    }

    .ca-img {
        margin-top: 12%
    }

    .btn-danger {
        padding: 22px;
        width: 248px;
        font-size: 25px
    }

    .transfer {
        height: 1220px;
        margin-top: 0px;
        z-index: 10;
    }

    .guide, .ecotour {
        height: 700px;
    }

    .sticky {
        position: fixed;
        top: 82%;
        width: 91px;
        height: auto;
    }

    .serv-content {
        position: absolute;
        top: 32%;
        left: 8%;
    }
}

@media only screen and (max-width:1290px) {
    .li-abt {
        display: none;
        visibility: hidden
    }

    .menu-position {
        visibility: visible;
        display: block
    }
}

@media only screen and (max-width:1180px) {
    .footer-socials img {
        width: 3%;
    }

    .contact-title {
        padding-top: 105px;
        padding-bottom: 25px
    }

    #gallery {
        text-align: center
    }

    .img-huila {
        height: auto
    }

    .button-banner {
        font-size: 15px
    }

    .v-nature {
        width: 100%
    }

    .ca-img {
        margin-top: 10%
    }

    .quien-para {
        margin-top: 33px
    }

    video {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width:964px) {

    .quien-banner {
        height: 380px;
    }

    #gallery h1,
    .fal-title {
        font-size: 37px;
    }

    p {
        font-size: 15px;
    }

    .villa-content h1 {
        font-size: 32px;
        padding: 0;
    }

    .quienes-content {
        width: 100%;
        height: auto;
        left: 52%;
    }

    .quien-title {
        font-size: 35px;
        position: absolute;
        top: 37%
    }

    .quien-para {
        margin-top: 170px;
        margin-bottom: -126px;
        text-align: center;
    }

    .titulo-banner {
        margin-top: -1px;
    }

    .footer-socials img {
        width: 3%;
    }

    .myForm {
        margin: auto auto auto 18px;
        width: 92%;
    }

    .content {
        position: absolute;
        top: 65%;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column img {
        margin-left: 0;
    }
}

@media only screen and (max-width:675px) {
    .btn-danger,
    .button-banner {
        font-size: 10px;
    }

    .sticky {
        position: fixed;
        left: 80%;
    }

    .footer-socials img {
        width: 5%;
    }

    .btn-danger {
        width: 115px;
    }

    .ca-img {
        margin-top: 27%;
    }

    .quien-para {
        margin-top: 133px;
    }

    .quien-title {
        position: absolute;
        top: 24%;
    }

    .img-huila {
        height: 210px;
    }
}

@media only screen and (max-width:430px) {
    h1 {
        font-size: 40px;
    }

    .menu-icon {
        position: absolute;
        top: 10%;
    }

    .btn-detalles2,.btn-detalles {
        width: 120px;
        height: 34px;
        font-size: 15px;
    }

    .logo-banner {
        position: absolute;
        top: -51%;
        left: -28%;
        width: 143%;
    }

    .footer-socials img {
        width: 8%;
    }

    .iframe-container,
    .iframe-container iframe {
        height: 600px;
    }

    .serv-content {
        position: absolute;
        top: 20%;
        left: -2%;
        text-align: center;
        padding: 33px;
    }

    .serv-content h1 {
        font-size: 30px;
    }

    .transfer {
        height: 583px;
    }

    #gallery h1, .fal-title {
        font-size: 25px;
    }
}

@media only screen and (max-width:280px) {
    .logo {
        width: 150px
    }

    .sec-nav li {
        font-size: 1rem
    }
}